footer.footer
	.container 
		.footer__inner
			a.logo( tabindex='225' href='#' aria-label='Бланчард, художественная галерея')
			.socials
				ul.socials__list
					li.socials__item
						a.socials__link(href="#" tabindex='226'  aria-label='Вконтакте') 
							+icon('vk')
					li.socials__item
						a.socials__link(href="#" tabindex='227'  aria-label='Instagram') 
							+icon('inst')
					li.socials__item
						a.socials__link(href="#" tabindex='228'  aria-label='Facebook') 
							+icon('fb')