include mixins.pug
block var
doctype html
html(lang=`${language}`)
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		<!-- inject:css -->
		<!-- inject:js -->
		title #{name}
	body 
		block content