extends ../../modules/pug/html.pug

block var
	-var name = 'Blanchard'
	-var language = 'ru'

block content

	include ../../modules/pug/header.pug
	main.main
		include pug/content.pug

	include ../../modules/pug/footer.pug

	script(src="https://api-maps.yandex.ru/2.1/?apikey=вашAPI-ключ&lang=ru_RU")